@model IEnumerable<dbCompanyTest.Models.會員商品暫存>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
@foreach (var item in Model){
        <div class="col-3">
            <img  src="@Url.Content("~/images/"+item.圖片1檔名)" width="70" />
        </div>
        <div class="col-9">
            <div>品名:<a>@Html.DisplayFor(modelItem => item.商品名稱)</a></div>
            <div>尺寸:<a> @Html.DisplayFor(modelItem => item.尺寸種類)</a></div>
            <div>顏色:<a>@Html.DisplayFor(modelItem => item.商品顏色種類)</a></div>
            <div>數量:<a>@Html.DisplayFor(modelItem => item.訂單數量)</a></div>
            <div>價格:<a class="m">@Html.DisplayFor(modelItem => item.商品價格)</a></div>
        </div>
}
    </div>
<script src="~/js/car.js"></script>
@*    @section Scripts{
        <script>
            
        </script>
    }*@