@model dbCompanyTest.Models.Order

@{
    ViewData["Title"] = "OrderFinishView";
}

<h1>已完成購買</h1>

<div>
    <h4>您的訂單</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.訂單狀態)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.訂單狀態)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.付款方式)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.付款方式)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.送貨地址)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.送貨地址)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.總金額)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.總金額)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.下單時間)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.下單時間)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.訂單狀態)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.訂單狀態)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.收件人名稱)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.收件人名稱)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.收件人電話)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.收件人電話)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.收件人email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.收件人email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
