
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Back_Layout_Sneat.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
@*chart圖所需的資源*@
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Product /</span> 相關分類表單</h4>
        <div class="row">            
        <p id="nav_modal_btn">
            <button class="btn btn-primary " type="button" data-bs-toggle="collapse" data-bs-target="#collapsecolor" aria-expanded="false" aria-controls="collapsecolor" id="btn_ColorControl">
              顏色
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesize" aria-expanded="false" aria-controls="collapsesize" id="btn_SizeControl">
                尺寸
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetype" aria-expanded="false" aria-controls="collapsetype" id="btn_TypeControl">
                分類
            </button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseshoe" aria-expanded="false" aria-controls="collapseshoe" id="btn_ShoesControl">
                鞋種
            </button>
        </p>
       </div>
    <div id="collapse_group">       
        <div class="collapse" id="collapsecolor">           
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Moda" id="btn_ColorForm"> 新增</button>
                        <button type="button" class="btn btn-primary" name="show_chart" style="display:none">氣泡圖表</button>
                </div>              
            </div>
                <hr style='background-color:white; height:1px; border:none;'>
                <table id="tableColor">
                    <thead>
                        <tr>
                            <th>商品顏色ID</th>
                            <th>商品顏色種類</th>
                            <th>色碼</th>
                            <th>商品顏色圖片</th>
                            <th>修改</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="collapse" id="collapsesize">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Moda" id="btn_SizeForm"> 新增</button>
                    </div>
                </div>
                <hr style='background-color:white; height:1px; border:none;'>
                <table id="tableSize">
                    <thead>
                        <tr>
                            <th>商品尺寸ID</th>
                            <th>尺寸種類</th>
                            <th>修改</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="collapse" id="collapsetype">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Moda" id="btn_TypeForm"> 新增</button>
                    </div>
                </div>
                <hr style='background-color:white; height:1px; border:none;'>
                 <table id="tableType">
                    <thead>
                        <tr>
                            <th>商品分類ID</th>
                            <th>商品分類名稱</th>
                            <th>修改</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="collapse" id="collapseshoe">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Moda" id="btn_shoesForm"> 新增</button>
                    </div>
                </div>
                <hr style='background-color:white; height:1px; border:none;'>
                <table id="tableShoes">
                    <thead>
                        <tr>
                            <th>商品鞋種ID</th>
                            <th>鞋種</th>
                            <th>修改</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="collapse" id="heightchart_bubble">
            <div class="card">
                <div class="card-header">
                    填充氣泡圖
                </div>
                <div class="card-body">
                    <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6" id="container"></divclass>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal_新增與修改_明細*@
<div class="modal fade" id="Moda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModal-label">新增</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_Close_D">關閉</button>
            </div>
        </div>
    </div>
</div>

@*Modal_刪除*@
<div class="modal fade" id="Moda_D_D" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="DeleteModal-label">警告</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="display: none;">
                    <label class="control-label">url</label>
                    <input name="url" class="form-control" readonly />
                </div>
                <div class="form-group" style="display: none;">
                    <label class="control-label">id</label>
                    <input name="id" class="form-control" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="D_D_Delete" class="btn btn-primary" name="btn_D_D">刪除</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_Close_D">取消</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script src="~/js/product_index.js"></script>
        <script>
            //用於DataTable中文化設定
        var lang = {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "顯示 _MENU_ 項結果",
            "zeroRecords": "沒有符合的結果",
            "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
            "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
            "infoFiltered": "(從 _MAX_ 項結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        };

        //用TBcolor 代表整個Color表單
            //TBcolor Load Start===============
            let TBcolor = null;
            
            const ColorLoad = () =>{
            TBcolor = $('#tableColor').DataTable(
               {
                    "language": lang,
                   "searching":false,
                    "ajax": `@Url.Content("~/ProductRelevant/ColorList")`,
                    "type":'get',
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "columns":
                    [
                            { "data": "商品顏色id", width: '10%' },
                            { "data": "商品顏色種類"},
                            { "data": "色碼" },
                            {
                                data: null,
                                className: 'img',
                                render: function (data, type, row) {                                    
                                    if (data.商品顏色圖片==null)
                                    return `<img src="@Url.Content("~/images")/404.jpg" width="50" height="50" '/>`
                                    else
                                    return `<img src="@Url.Content("~/images/colorimg")/${data.商品顏色圖片}" width="50" height="50" '/>`

                                },
                                orderable: false,
                                width:'10%'
                            },
                            {
                                data: null,
                                className: 'edit',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="btnEdit" name="C_btnEdit" title="修改"   data-bs-toggle="modal" data-bs-target="#Moda"><i class="fas fa-edit"></i>修改</button>';

                                },
                                orderable: false,
                                width: '7%'
                            },
                            {
                                data: null,
                                className: 'del',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="P_btnDel" name="C_btnDel"  title="刪除" data-bs-toggle="modal" data-bs-target="#Moda_D_D" ><i class="fa fa-minus-square"></i>刪除</button>';
                                },
                                orderable: false,
                                width: '7%'
                            }
                    ]
               });     
            }
         //TBColor End===================

        //用TBsize 代表整個Size表單
        //TBsize Load Start===============
        let TBsize = null;

        const SizeLoad = () => {
            TBsize = $('#tableSize').DataTable(
                {
                    "language":lang,
                    "searching": false,
                    "ajax": `@Url.Content("~/ProductRelevant/SizeList")`,
                    "type": 'get',
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "columns":
                        [
                            { "data": "商品尺寸id", width: '10%' },
                            { "data": "尺寸種類" },                         
                            {
                                data: null,
                                className: 'edit',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="btnEdit" name="S_btnEdit" title="修改" data-bs-toggle="modal" data-bs-target="#Moda"><i class="fas fa-edit"></i>修改</button>';

                                },
                                orderable: false,
                                width: '7%'
                            },
                            {
                                data: null,
                                className: 'del',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="P_btnDel" name="S_btnDel"  title="刪除" data-bs-toggle="modal" data-bs-target="#Moda_D_D" ><i class="fa fa-minus-square"></i>刪除</button>';
                                },
                                orderable: false,
                                width: '7%'
                            }
                        ]
                });
        }
        //TBColor End===================

        //用TBtype 代表整個Type表單
        //TBtype Load Start===============
        let TBtype = null;

        const TypeLoad = () => {
            TBtype = $('#tableType').DataTable(
                {
                    "language": lang,
                    "searching": false,
                    "ajax": `@Url.Content("~/ProductRelevant/TypeList")`,
                    "type": 'get',
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "columns":
                        [
                            { "data": "商品分類id", width: '10%' },
                            { "data": "商品分類名稱" },
                            {
                                data: null,
                                className: 'edit',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="btnEdit" name="T_btnEdit" title="修改" data-bs-toggle="modal" data-bs-target="#Moda"><i class="fas fa-edit"></i>修改</button>';

                                },
                                orderable: false,
                                width: '7%'
                            },
                            {
                                data: null,
                                className: 'del',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="P_btnDel" name="T_btnDel"  title="刪除" data-bs-toggle="modal" data-bs-target="#Moda_D_D" ><i class="fa fa-minus-square"></i>刪除</button>';
                                },
                                orderable: false,
                                width: '7%'
                            }
                        ]
                });
        }
        //TBColor End===================

        //用TBshoes 代表整個Shoes表單
        //TBshoes Load Start===============
        let TBshoes = null;

        const ShoesLoad = () => {
            TBshoes = $('#tableShoes').DataTable(
                {
                    "language": lang,
                    "searching": false,
                    "ajax": `@Url.Content("~/ProductRelevant/ShoesList")`,
                    "type": 'get',
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "columns":
                        [
                            { "data": "商品鞋種id", width: '10%' },
                            { "data": "鞋種" },
                            {
                                data: null,
                                className: 'edit',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="btnEdit" name="SH_btnEdit" title="修改" data-bs-toggle="modal" data-bs-target="#Moda"><i class="fas fa-edit"></i>修改</button>';

                                },
                                orderable: false,
                                width: '7%'
                            },
                            {
                                data: null,
                                className: 'del',
                                render: function (data, type, row) {
                                    return '<button type="submit" class="btn btn-primary" id="P_btnDel" name="SH_btnDel"  title="刪除" data-bs-toggle="modal" data-bs-target="#Moda_D_D" ><i class="fa fa-minus-square"></i>刪除</button>';
                                },
                                orderable: false,
                                width: '7%'
                            }
                        ]
                });
        }
        //TBColor End===================

            //載入時觸發
        $(document).ready(function () {
            //先開啟顏色面板
            $("#btn_ColorControl").click();
            ColorLoad();
        });

        //表單按鈕事件開始===================
        //顏色表單按鈕事件
        $("#btn_ColorControl").on('click',function(){           
           if($(this).attr("aria-expanded")=="true")
           {
                change_Colortable();
           }           
        });

        //新增按鈕綁定(Color)
        $("#btn_ColorForm").on('click', function () {
            $("#Moda .modal-header").find("#myModal-label").text("新增顏色")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_ColorCreate")");
        });     

        //加入按鈕事件(顏色修改) C_btnEdit
        $('#tableColor').on('click', 'button[name="C_btnEdit"]', function () {
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            $("#Moda .modal-header").find("#myModal-label").text("修改顏色")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_ColorEdit")"+`/?id=${id}`);
                      
        });
        //加入按鈕事件(顏色刪除) C_btnDel
        $('#tableColor').on('click', 'button[name="C_btnDel"]', function () {
            $.ajaxSettings.async = false;   //關閉非同步
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            Send_DatatoDel_Moda("@Url.Content("~/ProductRelevant/ColorDelete")", id)
            //$.get("@Url.Content("~/ProductRelevant/ColorDelete")", { "id": `${id}` }, (datas) => { alert(datas); });
            ////重新載入
            //change_Colortable()
            $.ajaxSettings.async = true;   //開啟非同步
        });

        //重新加載顏色
        function change_Colortable() {
            if (($("#tableColor tbody tr").length)>0)
            {
                TBcolor.destroy();
            }
            ColorLoad();
        }
        //===
        //尺寸表單按鈕事件
        $("#btn_SizeControl").on('click', function () {
            if ($(this).attr("aria-expanded") == "true") {
                change_Sizetable();
            }
        })

        //新增按鈕綁定(Size)
        $("#btn_SizeForm").on('click', function () {
            $("#Moda .modal-header").find("#myModal-label").text("新增尺寸")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_SizeCreate")");
        });

        //加入按鈕事件(尺寸修改) C_btnEdit
        $('#tableSize').on('click', 'button[name="S_btnEdit"]', function () {
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            $("#Moda .modal-header").find("#myModal-label").text("修改尺寸")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_SizeEdit")" + `/?id=${id}`);
        });

        //重新加載尺寸
        function change_Sizetable() {
            if (($("#tableSize tbody tr").length) > 0) {
                TBsize.destroy();
            }
            SizeLoad();
        }

        //加入按鈕事件(尺寸刪除) C_btnDel
        $('#tableSize').on('click', 'button[name="S_btnDel"]', function () {
            $.ajaxSettings.async = false;   //關閉非同步
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            Send_DatatoDel_Moda("@Url.Content("~/ProductRelevant/SizeDelete")", id)
            //$.get("@Url.Content("~/ProductRelevant/SizeDelete")", { "id": `${id}` }, (datas) => { alert(datas); });
            ////重新載入
            //change_Sizetable();
            $.ajaxSettings.async = true;   //開啟非同步
        });
        //===
        //類別表單按鈕事件
        $("#btn_TypeControl").on('click', function () {
            if ($(this).attr("aria-expanded") == "true") {
                change_Typetable();
            }
        })
        //重新加載類別
        function change_Typetable() {
            if (($("#tableType tbody tr").length) > 0) {
                TBtype.destroy();
            }
            TypeLoad();
        }

        //新增按鈕綁定(Size) btn_TypeForm
        $("#btn_TypeForm").on('click', function () {
            $("#Moda .modal-header").find(".modal-title").text("新增類別")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_TypeCreate")");
        });

        //加入按鈕事件(類別修改) T_btnEdit
        $('#tableType').on('click', 'button[name="T_btnEdit"]', function () {
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            $("#Moda .modal-header").find(".modal-title").text("修改類別")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_TypeEdit")" + `/?id=${id}`);
        });

        //加入按鈕事件(類別刪除) T_btnDel
        $('#tableType').on('click', 'button[name="T_btnDel"]', function () {
            $.ajaxSettings.async = false;   //關閉非同步
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            Send_DatatoDel_Moda("@Url.Content("~/ProductRelevant/TypeDelete")", id)
            //$.get("@Url.Content("~/ProductRelevant/TypeDelete")", { "id": `${id}` }, (datas) => { alert(datas); });
            ////重新載入
            //change_Typetable();
            $.ajaxSettings.async = true;  //開啟非同步
        });

        //刪除資料送入刪除Moda
        function Send_DatatoDel_Moda(url, id) {
            let moda = $("#Moda_D_D");
            moda.find("input[name='id']").val(id);
            moda.find("input[name='url']").val(url);
            moda.find("#DeleteModal-label").text("警告!請問是否要刪除此筆資料?")
        }
        //確認刪除事件
        $("#Moda_D_D").find("#D_D_Delete").on('click', function () {
            let moda = $("#Moda_D_D");
            let id = moda.find("input[name='id']").val();
            let url = moda.find("input[name='url']").val();
            moda.find("#btn_Close_D").click();
            $.get(url, { "id": `${id}` }, (datas) => { alert(datas); });
            //重新載入
             change_Colortable();
            change_Sizetable();
            change_Typetable();
            change_Shoestable();
        });
        //===
        //鞋種表單按鈕事件
        $("#btn_ShoesControl").on('click', function () {
            if ($(this).attr("aria-expanded") == "true") {
                change_Shoestable();
            }
        })

       // 新增按鈕綁定(Size) btn_TypeForm
        $("#btn_shoesForm").on('click', function () {
            $("#Moda .modal-header").find(".modal-title").text("新增鞋種")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_ShoesCreate")");
        });

        //加入按鈕事件(鞋種修改) SH_btnEdit
        $('#tableShoes').on('click', 'button[name="SH_btnEdit"]', function () {
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            $("#Moda .modal-header").find(".modal-title").text("修改鞋種")
            $("#Moda .modal-body").load("@Url.Content("~/ProductRelevant/_ShoesEdit")" + `/?id=${id}`);
        });

        //加入按鈕事件(鞋種刪除) SH_btnDel
        $('#tableShoes').on('click', 'button[name="SH_btnDel"]', function () {
            $.ajaxSettings.async = false;   //關閉非同步
            const row = $(this).parents('tr');
            const id = row.find('td:eq(0)').text().trim();
            Send_DatatoDel_Moda("@Url.Content("~/ProductRelevant/ShoesDelete")", id)
            //$.get("@Url.Content("~/ProductRelevant/ShoesDelete")", { "id": `${id}` }, (datas) => { alert(datas); });
            ////重新載入
            //change_Shoestable();
            $.ajaxSettings.async = true;  //開啟非同步
        });


        //重新加載類別
        function change_Shoestable() {
            if (($("#tableShoes tbody tr").length) > 0) {
                TBshoes.destroy();
            }
            ShoesLoad();
        }
        //表單按鈕事件結束===================
         //按其他button 關閉現在已開啟的collapse
        $("#nav_modal_btn").on('click', "button", function () {
            $(this).siblings().each(function () {            
                    let modal = $(this).attr("data-bs-target");                  
                    $(`${modal}`).collapse('hide');
            })
        })

        //按鈕開啟氣泡圖事件
        $("#collapse_group").on('click', "button[name='show_chart']",function(){
            $("#heightchart_bubble").slideToggle(500);
            showChart();
        })




             
        //檢查錯誤圖檔
        document.addEventListener("error", function (e) {
            var elem = e.target;
            if (elem.tagName.toLowerCase() == 'img') {
                elem.src = '@Url.Content("~/images/404.jpg")';
            }
        }, true);

       //Modal關閉監聽 hide.bs.modal
        $("#Moda").on('hide.bs.modal', function () {
            change_Colortable();
            change_Sizetable();
            change_Typetable();
            change_Shoestable();
        })

        function showChart()
        {
            Highcharts.chart('container', {
                chart: {
                    type: 'packedbubble',
                    height: '100%'
                },
                title: {
                    text: 'Carbon emissions around the world (2014)',
                    align: 'left'
                },
                tooltip: {
                    useHTML: true,
                    pointFormat: '<b>{point.name}:</b> {point.value}m CO<sub>2</sub>'
                },
                plotOptions: {
                    packedbubble: {
                        minSize: '20%',
                        maxSize: '100%',
                        zMin: 0,
                        zMax: 1000,
                        layoutAlgorithm: {
                            gravitationalConstant: 0.05,
                            splitSeries: true,
                            seriesInteraction: false,
                            dragBetweenSeries: true,
                            parentNodeLimit: true
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}',
                            filter: {
                                property: 'y',
                                operator: '>',
                                value: 250
                            },
                            style: {
                                color: 'black',
                                textOutline: 'none',
                                fontWeight: 'normal'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Europe',
                    data: [{
                        name: 'Germany',
                        value: 767000.1
                    }, {
                        name: 'Croatia',
                        value: 20.7
                    },
                    {
                        name: 'Belgium',
                        value: 97.2
                    },
                    {
                        name: 'Czech Republic',
                        value: 111.7
                    },
                    {
                        name: 'Netherlands',
                        value: 158.1
                    },
                    {
                        name: 'Spain',
                        value: 241.6
                    },
                    {
                        name: 'Ukraine',
                        value: 249.1
                    },
                    {
                        name: 'Poland',
                        value: 298.1
                    },
                    {
                        name: 'France',
                        value: 323.7
                    },
                    {
                        name: 'Romania',
                        value: 78.3
                    },
                    {
                        name: 'United Kingdom',
                        value: 415.4
                    }, {
                        name: 'Turkey',
                        value: 353.2
                    }, {
                        name: 'Italy',
                        value: 337.6
                    },
                    {
                        name: 'Greece',
                        value: 71.1
                    },
                    {
                        name: 'Austria',
                        value: 69.8
                    },
                    {
                        name: 'Belarus',
                        value: 67.7
                    },
                    {
                        name: 'Serbia',
                        value: 59.3
                    },
                    {
                        name: 'Finland',
                        value: 54.8
                    },
                    {
                        name: 'Bulgaria',
                        value: 51.2
                    },
                    {
                        name: 'Portugal',
                        value: 48.3
                    },
                    {
                        name: 'Norway',
                        value: 44.4
                    },
                    {
                        name: 'Sweden',
                        value: 44.3
                    },
                    {
                        name: 'Hungary',
                        value: 43.7
                    },
                    {
                        name: 'Switzerland',
                        value: 40.2
                    },
                    {
                        name: 'Denmark',
                        value: 40
                    },
                    {
                        name: 'Slovakia',
                        value: 34.7
                    },
                    {
                        name: 'Ireland',
                        value: 34.6
                    },
                    {
                        name: 'Croatia',
                        value: 20.7
                    },
                    {
                        name: 'Estonia',
                        value: 19.4
                    },
                    {
                        name: 'Slovenia',
                        value: 16.7
                    },
                    {
                        name: 'Lithuania',
                        value: 12.3
                    },
                    {
                        name: 'Luxembourg',
                        value: 10.4
                    },
                    {
                        name: 'Macedonia',
                        value: 9.5
                    },
                    {
                        name: 'Moldova',
                        value: 7.8
                    },
                    {
                        name: 'Latvia',
                        value: 7.5
                    },
                    {
                        name: 'Cyprus',
                        value: 7.2
                    }]
                }, {
                    name: 'Africa',
                    data: [{
                        name: 'Senegal',
                        value: 8.2
                    },
                    {
                        name: 'Cameroon',
                        value: 9.2
                    },
                    {
                        name: 'Zimbabwe',
                        value: 13.1
                    },
                    {
                        name: 'Ghana',
                        value: 14.1
                    },
                    {
                        name: 'Kenya',
                        value: 14.1
                    },
                    {
                        name: 'Sudan',
                        value: 17.3
                    },
                    {
                        name: 'Tunisia',
                        value: 24.3
                    },
                    {
                        name: 'Angola',
                        value: 25
                    },
                    {
                        name: 'Libya',
                        value: 50.6
                    },
                    {
                        name: 'Ivory Coast',
                        value: 7.3
                    },
                    {
                        name: 'Morocco',
                        value: 60.7
                    },
                    {
                        name: 'Ethiopia',
                        value: 8.9
                    },
                    {
                        name: 'United Republic of Tanzania',
                        value: 9.1
                    },
                    {
                        name: 'Nigeria',
                        value: 93.9
                    },
                    {
                        name: 'South Africa',
                        value: 392.7
                    }, {
                        name: 'Egypt',
                        value: 225.1
                    }, {
                        name: 'Algeria',
                        value: 141.5
                    }]
                }, {
                    name: 'Oceania',
                    data: [{
                        name: 'Australia',
                        value: 409.4
                    },
                    {
                        name: 'New Zealand',
                        value: 34.1
                    },
                    {
                        name: 'Papua New Guinea',
                        value: 7.1
                    }]
                }, {
                    name: 'North America',
                    data: [{
                        name: 'Costa Rica',
                        value: 7.6
                    },
                    {
                        name: 'Honduras',
                        value: 8.4
                    },
                    {
                        name: 'Jamaica',
                        value: 8.3
                    },
                    {
                        name: 'Panama',
                        value: 10.2
                    },
                    {
                        name: 'Guatemala',
                        value: 12
                    },
                    {
                        name: 'Dominican Republic',
                        value: 23.4
                    },
                    {
                        name: 'Cuba',
                        value: 30.2
                    },
                    {
                        name: 'USA',
                        value: 5334.5
                    }, {
                        name: 'Canada',
                        value: 566
                    }, {
                        name: 'Mexico',
                        value: 456.3
                    }]
                }, {
                    name: 'South America',
                    data: [{
                        name: 'El Salvador',
                        value: 7.2
                    },
                    {
                        name: 'Uruguay',
                        value: 8.1
                    },
                    {
                        name: 'Bolivia',
                        value: 17.8
                    },
                    {
                        name: 'Trinidad and Tobago',
                        value: 34
                    },
                    {
                        name: 'Ecuador',
                        value: 43
                    },
                    {
                        name: 'Chile',
                        value: 78.6
                    },
                    {
                        name: 'Peru',
                        value: 52
                    },
                    {
                        name: 'Colombia',
                        value: 74.1
                    },
                    {
                        name: 'Brazil',
                        value: 501.1
                    }, {
                        name: 'Argentina',
                        value: 199
                    },
                    {
                        name: 'Venezuela',
                        value: 195.2
                    }]
                }, {
                    name: 'Asia',
                    data: [{
                        name: 'Nepal',
                        value: 600000.5
                    },
                    {
                        name: 'Georgia',
                        value: 6.5
                    },
                    {
                        name: 'Brunei Darussalam',
                        value: 7.4
                    },
                    {
                        name: 'Kyrgyzstan',
                        value: 7.4
                    },
                    {
                        name: 'Afghanistan',
                        value: 7.9
                    },
                    {
                        name: 'Myanmar',
                        value: 9.1
                    },
                    {
                        name: 'Mongolia',
                        value: 14.7
                    },
                    {
                        name: 'Sri Lanka',
                        value: 16.6
                    },
                    {
                        name: 'Bahrain',
                        value: 20.5
                    },
                    {
                        name: 'Yemen',
                        value: 22.6
                    },
                    {
                        name: 'Jordan',
                        value: 22.3
                    },
                    {
                        name: 'Lebanon',
                        value: 21.1
                    },
                    {
                        name: 'Azerbaijan',
                        value: 31.7
                    },
                    {
                        name: 'Singapore',
                        value: 47.8
                    },
                    {
                        name: 'Hong Kong',
                        value: 49.9
                    },
                    {
                        name: 'Syria',
                        value: 52.7
                    },
                    {
                        name: 'DPR Korea',
                        value: 59.9
                    },
                    {
                        name: 'Israel',
                        value: 64.8
                    },
                    {
                        name: 'Turkmenistan',
                        value: 70.6
                    },
                    {
                        name: 'Oman',
                        value: 74.3
                    },
                    {
                        name: 'Qatar',
                        value: 88.8
                    },
                    {
                        name: 'Philippines',
                        value: 96.9
                    },
                    {
                        name: 'Kuwait',
                        value: 98.6
                    },
                    {
                        name: 'Uzbekistan',
                        value: 122.6
                    },
                    {
                        name: 'Iraq',
                        value: 139.9
                    },
                    {
                        name: 'Pakistan',
                        value: 158.1
                    },
                    {
                        name: 'Vietnam',
                        value: 190.2
                    },
                    {
                        name: 'United Arab Emirates',
                        value: 201.1
                    },
                    {
                        name: 'Malaysia',
                        value: 227.5
                    },
                    {
                        name: 'Kazakhstan',
                        value: 236.2
                    },
                    {
                        name: 'Thailand',
                        value: 272
                    },
                    {
                        name: 'Taiwan',
                        value: 276.7
                    },
                    {
                        name: 'Indonesia',
                        value: 453
                    },
                    {
                        name: 'Saudi Arabia',
                        value: 494.8
                    },
                    {
                        name: 'Japan',
                        value: 1278.9
                    },
                    {
                        name: 'China',
                        value: 10540.8
                    },
                    {
                        name: 'India',
                        value: 2341.9
                    },
                    {
                        name: 'Russia',
                        value: 1766.4
                    },
                    {
                        name: 'Iran',
                        value: 618.2
                    },
                    {
                        name: 'Korea',
                        value: 610.1
                    }]
                }]
            });
        }
       </script>

}
