@model dbCompanyTest.ViewModels.ProductDetailViewModels

<link href="~/css/productdetail.css" rel="stylesheet" />

<div class="content d-flex flex-row justify-content-center">
    <div class="detail-center">
        @*麵包*@
        <div class="d-position">
            <a asp-controller="Home" asp-action="Index">首頁</a>
            <span>></span>
            <a>@Model.pro商品分類</a>
            <span>></span>
            <span>@Model.pro商品名稱 @Model.pro商品顏色</span>
        </div>
        @*輪播*@
        <div id="carouselExampleDark" class="carousel carousel-dark slide d-carouse">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active d-carouse-pic" data-bs-interval="2000">
                    <img src="@Url.Content("~/images/"+Model.pro商品圖片1)" class="d-block " alt="...">
                </div>
                <div class="carousel-item d-carouse-pic" data-bs-interval="2000">
                    <img src="@Url.Content("~/images/"+Model.pro商品圖片2)" class="d-block " alt="...">
                </div>
                <div class="carousel-item d-carouse-pic" data-bs-interval="2000">
                    <img src="@Url.Content("~/images/"+Model.pro商品圖片3)" class="d-block " alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="d-carouse">
            <img src="@Url.Content("~/images/"+Model.pro商品圖片1)" />
            <img src="@Url.Content("~/images/"+Model.pro商品圖片2)" />
            <img src="@Url.Content("~/images/"+Model.pro商品圖片3)" />
        </div>
    </div>
    <div class="d-right-detail">
        <div class="d-right-detail-item">@Model.pro商品名稱 @Model.pro商品顏色</div>
        <div class="d-right-detail-item">金額: @Model.pro商品金額</div>
        <div class="d-right-detail-item">COLOR: @Model.pro商品顏色</div>
        <div class="d-right-color">
            @{
                for (int i = 0; i < Model.pro商品DetailIDlist.Count; i++)
                {
                    if (Model.pro商品DetailIDlist[i] == Model.prodetailID)
                    {
                        <div class="d-right-color-item"><div class="d-right-color-item-color active"><a><img src="@Url.Content("~/images/colorimg/"+Model.pro商品顏色圖片list[i])"></img></a></div></div>
                    }
                    else
                    {
                        <div class="d-right-color-item"><div class="d-right-color-item-color"><a href="@Url.Content("~/ProductWall/Details?id="+Model.pro商品DetailIDlist[i])" id="@Model.pro商品DetailIDlist[i]"><img src="@Url.Content("~/images/colorimg/"+Model.pro商品顏色圖片list[i])"></img></a></div></div>
                    }

                } 
            }
        </div>


    </div>
</div>

@section Scripts{
    <script>
        
        

    </script>
}