@model IEnumerable<dbCompanyTest.ViewModels.ProductWallViewModel>

@{
    ViewData["Title"] = "Index";
}


@*@foreach (var item in Model) {
    <li>@Html.DisplayFor(modelItem => item.鞋種名稱)</li>
}*@

@foreach (var item in Model) {
    <a asp-action="Details" asp-route-id="@item.商品編號id">
        <div>
                @{
                    if (@item.產品圖片1 != null)
                    {
                        <img src="~/images/@item.產品圖片1" width="236" height="324" />
                    }
                    else
                    {
                        <img src="~/images/404.jpg" width="236" height="324" />
                    }
                }
            <div>
                @Html.DisplayFor(modelItem => item.商品名稱)
                @Html.DisplayFor(modelItem => item.商品價格)
            </div>
        </div>
    </a>
}
