@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@model IPagedList<dbCompanyTest.ViewModels.ProductWallViewModel>


@section Style{
    <link href="~/css/ProductWall.css" rel="stylesheet">
}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 "></div>
            <div class=" col-md-10 ">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首頁</a></li>
                        @{
                        string type = "";
                        int sid=1 ;
                        string stype = "";
                        foreach (var item in Model)
                        {
                            type = item.商品分類名稱;
                            sid = item.商品分類id;
                            stype = item.鞋種名稱;
                        }
                        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="ProductWall" asp-action="Index" asp-route-id=@sid>@type</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@stype</li>
                    }
                </ol>
            </nav>
        </div>
    </div>
        <div class="row ">
            <div class="col-lg-12 d-flex">
                <div class="row col-md-2">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            @{
                            string name = "";
                            
                            foreach (var item in Model)
                            {
                                name = item.鞋種名稱;
                                
                            }
                            <li class="list-inline-item">
                                <p class="h5 text-dark text-decoration-none avtive" >@name</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 p-2 ">
                        <a asp-action="Details" asp-route-id="@item.商品id">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <div>
                                        @{
                                            if (@item.產品圖片1 != null)
                                            {
                                                        <img class="card-img rounded-0 img-fluid" src="~/images/@item.產品圖片1" width="236" height="324" />
                                            }
                                            else
                                            {
                                                        <img class="card-img rounded-0 img-fluid" src="~/images/404.jpg" width="236" height="324" />
                                            }
                                        }
                                    </div>
                                    <div class="card-body">
                                        <a asp-action="Details" asp-route-id="@item.商品id">@item.商品名稱</a>
                                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                            <li>@Html.DisplayFor(modelItem => item.商品價格)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center ">
        @*        <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        *@        @Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index",new {page}))
        @*        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>*@
        @*        <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        *@
    </ul>
</nav>
<br />
