

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dbCompanyTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dbCompanyTest.styles.css" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/mychat.css" rel="stylesheet" />
    <link href="~/css/car.css" rel="stylesheet" />
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <header>
        <div class=" d-flex justify-content-between" style="padding: 1em 0%">
            @*============== LOGO =================*@
            <div class="logo">
                <a class="" asp-controller="Home" asp-action="Index"><img src="~/homeImg/Shoespace1.png" /></a>
            </div>
            @*============== 搜尋,我的最愛,會員中心,購物車 =================*@
            <div class="d-flex justify-content-end">
                <div class="tool-box d-flex">
                    <div class="search-box flex-fill">
                        <input class="web-search search_keyword" type="text" placeholder="Search" id="search-box">
                    </div>
                    <div class="tool-p flex-fill">
                        <a id="web-search-btn" href=""><img src="~/homeImg/search_header_pc.png"></a>
                    </div>
                    <div class="tool-p shortcut flex-fill">
                        <a class="tool-item" asp-controller="MemberCenter" asp-action="Index">
                            <img src="~/homeImg/sign_pc.png">
                        </a>
                        <div class="shortcut-box" style="display: blcok;">
                            <div class="shortcut-i">
                                <a asp-controller="MemberCenter" asp-action="Index" class="us">MY ACCOUNT</a>
                                <a asp-controller="MemberCenter" asp-action="Index" class="cn">會員中心</a>
                            </div>
                            <div class="shortcut-i">
                                <a asp-controller="MemberCenter" asp-action="orderinfo" asp-route-id="CL1-00376" class="us">MY ORDERS</a>
                                <a asp-controller="MemberCenter" asp-action="orderinfo" asp-route-id="CL1-00376" class="cn">訂單查詢</a>
                            </div>
                            <div class="shortcut-i">
                                <a asp-controller="Login" asp-action="Login" class="us">LOGIN</a>
                                <a asp-controller="Login" asp-action="Login" class="cn">登入</a>
                            </div>
                        </div>
                    </div>
                    <div class="tool-p flex-fill">
                        <a class="tool-item flex-fill" href=""><img src="~/homeImg/collect_pc.png"></a>
                    </div>
                    <div class="tool-p shopping-cart flex-fill">
                        <a class="tool-item car_click" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><img src="~/homeImg/shopping_cart_pc.png"><span class="g-nums" id="cart_num_pc">0</span></a>
                    </div>

                </div>
                <div class="collapse  " style="position:absolute;top:1.3%;right:2%;z-index:1;width:350px;" id="collapseExample">
                    <div class="card card-body car_body car_all" style="height:500px">
                        <div class="car_dital car_all"id="car_iten">

                        </div>
                        <div class="car_dolor car_all">
                            <div class="total_twd">
                                @*TOTAL TWD $0*@
                            </div>
                        </div>
                        <a href="" class="car_a car_all">
                            <div style="color:white">CHECK OUT</div>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        @*================= nav ===================*@

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom  ">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-sm-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TestClients" asp-action="Index">客戶資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductWall" asp-action="Details">商品牆</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Staff_Home" asp-action="login">員工登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Service">客戶服務</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">會員登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MyLove" asp-action="Index">我的最愛</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="index">後台產品維護</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-sm-grow-1" id="nav">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div @*class="container"*@>
        <main role="main" @*class="pb-3"*@>
            @RenderBody()
        </main>
    </div>

    <div class="chatMain" style="z-index:10;">
        <div class="dot eyes-left"></div>
        <div class="dot eyes-right"></div>
        <div class="dot mouth"></div>
    </div>
    <div class="chatBody">
        <div class="chatHeader"><button id="connection" class="btn btn-dark">連線客服</button></div>
        <div class="chatBBody">
            <div class="chat">
                <div class="myName">我</div>
                <div class="myChat">
                    你好我有問題!!
                </div>
            </div>
            <div class="chat">
                <div class="otherName">系統</div>
                <div class="otherChat">
                    親愛的訪客您好，客服人員接在忙線中。請稍後
                </div>
            </div>
        </div>
        <div class="chatFooter">
            <input type="text" id="message" />
            <img src="~/images/send.png" id="send" style="width:30px;height:30px;" />
            <p>由戴浩宇製作</p>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - dbCompanyTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>$("#nav").load("@Url.Content("~/Home/nav")")</script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/mychat.js"></script>
    <script src="~/js/car.js"></script>

    <script>
        

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        $(`#connection`).on(`click`, function () {
            connection.start().then(async function () {
                const data = await fetch("@Url.Content("~/Login/getUser")");
                const uesrName = await data.text();
                let selfID = $('#SelfID').html();
                connection.invoke("getName", uesrName).catch(function (err) {
                    alert('傳送錯誤: ' + err.toString());
                });
            }).catch(function (err) {
                alert('連線錯誤: ' + err.toString());
            });
        })

        connection.on("UpdSelfID", function (id) {

        });

        connection.on("UpdSystem", function (user,msg) {
            $(`.chatBBody`).append(`<div class="chat">
                <div class="otherName">${user}</div>
                <div class="otherChat">
                            ${msg}
                </div>
            </div>`);
            $('.chatBBody').animate({
                scrollTop: $(".chatBBody").offset().top + $(".chat")[$(".chatBBody").find(".chat").length - 1].scrollHeight
            }, 500);
        });


        connection.on("UpdContent", function (msg) {
            $(`.chatBBody`).append(`<div class="chat">
                                       <div class="myName">我</div>
                                    <div class="myChat">
                                         ${msg}
                                  </div>
                             </div>`);
            $(`#message`).val("");

            $('.chatBBody').animate({
                scrollTop: $(".chatBBody").offset().top + $(".chat")[$(".chatBBody").find(".chat").length - 1].scrollHeight
            }, 500);
        });

        $(`#send`).on(`click`, async function () {
            let selfID = $('#SelfID').html();
            let message = $('#message').val();
            //let sendToID = $('#sendToID').val();
            connection.invoke("SendMessage", selfID, message/*, sendToID*/).catch(function (err) {
                alert('傳送錯誤: ' + err.toString());
            });
        });


        const carjson = document.querySelector('#car_iten');
        const carHtml = document.querySelector('.car_click');
        const TotoM = document.querySelector('.total_twd');
        //const TrashCan = document.querySelector('.purchase-icon');

        carHtml.addEventListener('click', () => {
            SetCar();

        })
        //TrashCan.addEventListener('click', () => {
        //    console.log("123");
        //    //deleteIton();
        //});

        //SetCar();
        joinCarSession();

        //function deleteIton(){
            
        //    var a = $(this).find("input").val();
        //    console.log(a);
        //    del(a);
        //}

        async function del(id) {
            console.log(id);
            const data = await fetch(`@Url.Content("~/Shopping/DeleteCarSession?id=${id}")`);
            const response = await data.text();
            error(response);
            $(`#car_iten`).find(`#${id}`).remove();
        }

        async function joinCarSession() {
            const reb = await fetch(`@Url.Content("~/Shopping/joinSQLToSession")`)
            const data =await reb.text();
            console.log(data);
        }

        async function SetCar() {
            const reb = await fetch(`@Url.Content("~/Shopping/GetCarJson")`)
            const data = await reb.json();
            console.log(reb);
            console.log(data);
            countM=0;
            const carOpts =data.map((value)=>{
                a = value.圖片1檔名
                x = value.商品價格
                countM += x
                return (`<div class="row" id="${value.Id}">
                    <div class="col-3">
                                        <img  src="@Url.Content("~/images/${a}")" width="70" />
                    </div>
                    <div class="col-8">
                                <div>品名:<a>${value.商品名稱}</a></div>
                                        <div>尺寸:<a>${value.尺寸種類}</a></div>
                                        <div>顏色:<a>${value.商品顏色種類}</a></div>
                                        <div>數量:<a>${value.訂單數量}</a></div>
                                <div>價格:<a class="m">${value.商品價格}</a></div>
                    </div>
                    <div class="purchase-icon col-1">
                                            <input type="hidden" value="${value.Id}" />
                                </div>
            <br/>`);
            })
            TOTAL_TWD = `TOTAL TWD $${countM}`
            carjson.innerHTML = carOpts.join("")
            TotoM.innerHTML = TOTAL_TWD
            const TrashCan = document.querySelector('.purchase-icon');
            TrashCan.addEventListener('click', ()=>{
                console.log("123");
                var a = $( event.currentTarget ).find("input").val();
                console.log(a);
                del(a);
            });
        }

                        
        //$('.car_dital').load("@Url.Content("~/Shopping/CarPartial")")
        //$('.car_dolor').load("@Url.Content("~/Shopping/CarTwdPartial")")


        // 會員下拉選單
        $('body').delegate('.shortcut', 'click', function () {
            const _this = $(this);
            const shortcutBox = _this.find('.shortcut-box');
            if (shortcutBox.is(':hidden')) {
                shortcutBox.show()

            } else {
                shortcutBox.hide();
            }
            return false;
        })
        
        $('body').delegate('.shortcut-box', 'click', function (e) {
            e.stopPropagation();
        })
        // 點擊空白區域關閉下拉框
        $(document).on('click', function (e) {
            var cont = $('.shortcut,.shortcut-box');
            if (!cont.is(e.target) && cont.has(e.target).length === 0) {
                $('.shortcut-box').hide();
            }
        })

    </script>
@*    <script defer>
        document.addEventListener("DOMContentLoaded", () => {
            const TrashCan = document.querySelector('.purchase-icon');
            TrashCan.addEventListener('click', () => {
                console.log("123");
                //deleteIton();
            });
        })
    </script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
