@model IEnumerable<dbCompanyTest.Models.TestClient>

@{
    ViewData["Title"] = "Index";
}

<h1>客戶資料一覽表</h1>

<p>
    <a asp-action="Create" class="btn btn-success">新增客戶</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                項次
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.身分證字號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.密碼)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.性別)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.生日)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.身分證字號)
                </td>
                <td>
                    @item.縣市 @item.區 @item.地址
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.密碼)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.性別)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.生日)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.客戶編號" class="btn btn-secondary">編輯</a>
                    <a asp-action="Details" asp-route-id="@item.客戶編號" class="btn btn-warning">細節</a>
                    <a asp-action="Delete" asp-route-id="@item.客戶編號" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }}
    </tbody>
</table>
