@model dbCompanyTest.Models.TestStaff
@{
    ViewData["Title"] = "Index";
}
@section User_info {
    @ViewBag.acc
}
@{
    Layout = "_Back_Layout";
}

<input type="hidden" id="TDLpath" value="@Url.Content("~/Staff_Home/LoadToDoList")" />
<input type="hidden" id="path" value="@Url.Content("~/Staff_Home/LoadSheeplist")" />
<h1>員工頁面(行政)</h1>


@*<h2 id="stf_info">@ViewBag.acc</h2>*@

<div id="Sheeplist_div"></div>
<div id="ToDoList_div"></div>

@section Scripts {

    <script>
        var split = $(`#stf_info`).text().indexOf(' ');
        var stf = $(`#stf_info`).text().substr(0, split)
        console.log(`view`)
        LoadSheeplist();
        LoadToDoList();

        function LoadSheeplist() {
            $('#Sheeplist_div').load("@Url.Content("~/Staff_Home/PartialSheeplist")")
            $.getScript("@Url.Content("~/js/LoadSheeplist.js")");
        }

        function LoadToDoList() {
            $('#ToDoList_div').load("@Url.Content("~/Staff_Home/PartialToDoList")")
            $.getScript("@Url.Content("~/js/LoadToDoList.js")");
        }

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

