@model IEnumerable<dbCompanyTest.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.商品數量)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品分類)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品尺寸)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.商品編號Navigation)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.商品鞋種)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.商品顏色)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.圖片位置)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.商品數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品分類.商品分類id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品尺寸.商品尺寸id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品編號Navigation.商品編號id)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.商品鞋種.商品鞋種id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.商品顏色.商品顏色id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.圖片位置.圖片位置id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
